*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bgColor: #34353a;
    --textColor: #ddd;
    --textHoverColor: rgb(233, 230, 43);
}

img{
    max-width: 100%;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}

body{
    background-color: var(--bgColor);
    position: relative;
}

/* Clock Code Start */
.bg-clock{
    position: absolute;
    left: 0;
    right:0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.clock{
    position: relative;
    width: 680px;
    height: 680px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.01);
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));  /* 360/12 = 30 deg*/
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 28px;
}

.clock::before{
    content: '';
    width: 200px;
    height: 200px;
    background: #cccccc10;
    border-radius: 50%;
    border:10px solid transparent;
    border-top-color: #000;
    position: absolute;
    z-index: 2;
    animation: rotate 10s 5s infinite;
    transition: 0.5s;
}
@keyframes rotate {
    100%{
        rotate: 360deg;
    }
}


.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    opacity: var(--o);
}
.hour-i{
    width: 15px;
    height: 200px;
    border-radius: 10px 0 10px 0;
    background: orangered;
}
.min-i{
    width: 10px;
    height: 250px;
    border-radius: 5px;
    background: yellow;
}
.sec-i{
    width: 5px;
    height: 300px;
    border-radius: 5px;
    background: #000;
}

/* Clock Code End */

/* 02. Header Section */

.header-inner{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner .logo{
    flex-basis: 10%;
}
.header-inner .logo a{
    cursor: pointer;
}
.header-inner .logo a img{
    max-width: 50px;
    height: auto;

}

/* Nav Menu Start */
.menu1{}
.menu1 nav{}
.menu1 nav a{
    display: inline-block;
    color: var(--textColor);
    padding: 0 10px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}
.menu1 nav a:hover{
    color: var(--textHoverColor);
}

.menu2{
    display: none;
}
/* Nav Menu End */



.search-bar{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    position: relative;
}
.search-bar .search{
    outline: none;
    font-size: 18px;
    color: var(--textColor);
    padding: 5px 10px;
    background-color: #7070703f;
    border: 0;
    border-radius: 20px;
    margin-right: 5px;
}
.search-bar::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 26%;
    height: 60%;
    cursor: pointer;
    background: #434448;
    border-left: 2px solid red;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%, 60%{
        left: 27%;
    }
    100%{
        left: 2%;
    }
}
.search-bar i{
    position: absolute;
    top: 7px;
    right: 13px;
    color: var(--textColor);
    cursor: pointer;
}

.social-icon{
    position: absolute;
    top: 100px;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

.social-icon .open-close{
    width: 20px;
    height: 20px;
    border-radius: 10px 0 0 10px;
    background: var(--textColor);
    transform: translateX(10px);
    transition: 0.4s;
}
.social-icon .open-close:hover{
    transform: translateX(0px);
}
.social-icon .social-item{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(20px);
}
.social-item a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
}
.social-item a:nth-child(1){
    color: rgb(22, 159, 201);
}
.social-item a:nth-child(2){
    color: rgb(22, 40, 201);
}
.social-item a:nth-child(3){
    color: rgb(22, 105, 201);
}
.social-item a:nth-child(4){
    color: rgb(171, 22, 201);
}
.social-item a:hover{
    color: var(--textColor);
}



/* Main Section Start */
main{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    opacity: 60%;
    display: flex;
    overflow: hidden;
}
.image img{
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
}

.copyright{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.copyright p span{
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
}
.copyright p span:hover::after{
    content: "Mamun";
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.1);
}

/* Main Section End */

/* About Section Start */
.about{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000095;
    display: flex;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
    display: none;
}
.about>.close-about{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: var(--textColor);
}
.about h1{
    display: inline-block;
    margin: 100px auto 0;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    transform: scale(0.9);
    transition: transform 0.7s ease-in-out;
}
.about:hover h1{
    transform: scale(1.2);
}

.about-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.about-img{
    flex-basis: 40%;
    transform: scale(0.9) skewX(5deg);
    transition: transform 0.7s ease-in-out;
}
.about:hover .about-img{
    transform: scale(1) skewX(0deg);
}

.about-content{
    flex-basis: 50%;
    transform: scale(0.9) skewX(-5deg);
    transition: transform 0.7s ease-in-out;
}
.about:hover .about-content{
    transform: scale(1) skewX(0deg);
}
.about-content h2,h1,p{
    color: var(--textColor);
    text-align: left;
}
.about-content h1{
    margin: 0;
    transform: none!important;
    text-align: left;
}
.about-content span{
    display: inline-block;
    color: red;
    padding-bottom: 20px;
}
/* About Section End */

/* Portfolio Section Start */
.portfolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000095;
    display: flex;
    justify-content: center;
    z-index: 999;
    display: none;
    overflow: scroll;
}
.portfolio .close-portfolio{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: var(--textColor);
}
.portfolio h1{
    font-size: 40px;
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    padding-top: 100px;
}

.port-nav{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
.port-nav ul{}
.port-nav ul li{
    display: inline-block;
}

.port-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    padding: 0 20px;
    position: relative;
}
.port-nav ul li a::after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.4s ease-in-out;
}
.port-nav ul li a:hover::after{
    width: 80%;
}

#all{}

#Port,
#Clock,
#Ecom,
#Hospital{
    display: none;
}


.up-btn{
    width: 30px;
    height: 30px;
    background-color: red;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: 0.6s;
}
.up-btn a{
    display: inline-block;
    color: var(--textColor);
}
.up-btn a i{
    font-size: 20px;
    transition: 0.8s;
}
.up-btn:hover{
    border-radius: 50%;
    transform: rotate(0deg);
}
.up-btn:hover i{
    transform: scale(1.4);
}




.portfolio-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#all{}
#Port{
    display: none;
} 

.port-item{
    width: 300px;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 8px #fff;
    position: relative;
}
.port-item::after{
    content: "";
    position: absolute;
    top: 15%;
    left: 35%;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.7s ease-in-out;
}
.port-item:hover::after{
    display: none;
}

.port-item .image{
    width: 100%;
    height: 180px;
    background: #ffdfff50;
    border-radius: 5px 5px 0 0;
}
.port-item .image img{
    width: 100%;
    height: 100%;
}
.port-item .content{
    padding: 10px 0;
}
.port-item .content h2{
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
}
.port-item .content p{
    height: 30px;
    line-height: 12px;
}
.port-item .item-btn{}
.port-item .item-btn div{
    padding: 10px 0;
}
.port-item .item-btn div i{
    color: yellow;  
}
.port-item .item-btn button{
    padding: 10px 20px;
    font-size: 18px;
}

.port-item .item-btn button a{
    text-decoration: none;
}

/* Portfolio Section End */

/* Git Section Start */
.git{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000095;
    display: flex;
    justify-content: center;
    z-index: 999;
    overflow: scroll;
    display: none;
}
.git .close-git{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: var(--textColor);
}
.git h1{
    font-size: 40px;
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    padding-top: 100px;
}

.git-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    overflow: scroll;
}
.git-info{
    padding: 30px 0;
    border-bottom: 2px solid #fff;
}
.git-info p span{
    color: red;
}

.git-install{
    color: var(--textColor);
    padding: 50px 0;
}
.git-install h2{
    text-transform: uppercase;
}
.git-install ul{
    padding: 20px 0 0 15px;
}
.git-install ul li ol{
    padding: 10px 0 0 30px;
}
.git-install ul li ol li{
    padding: 5px 0;
}
/* Git Section End */


/* Contact Section Start */
.contact{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000095;
    display: flex;
    justify-content: center;
    z-index: 999;
    overflow: scroll;
    display: none;
}
.contact .close-contact{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: var(--textColor);
}
.contact h1{
    font-size: 40px;
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    padding-top: 100px;
}

.contact-inner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.contact-inner form{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.contact-inner form input{
    width: 100%;
    padding: 5px 10px;
    background: rgb(128, 0, 128);
    color: #fff!important;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
}
.contact-inner form textarea{
    padding: 5px;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: rgb(128, 0, 128);
    border: 0;
    outline: none;
}
.contact-inner form button{
    width: 100px;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--textColor);
    background-color: rebeccapurple;
    border: 0;
    border-radius: 20px;
}

.map{
    flex-basis: 40%;
}
.map iframe{
    width: 500px;
    height: 410px;
    margin-top: -50px;
    border-radius: 20px;
    border: 0;
    border-radius: 5px;
}
/* Contact Section End */


/* Responsive Media Query */
@media (max-width:895px) {
    /* Clock Code Start */

    .clock{
        width: 580px;
        height: 580px;
    }

    .clock span b{
        font-size: 24px;
    }
    .hour-i{
        height: 180px;
    }
    .min-i{
        height: 210px;
    }
    .sec-i{
        height: 250px;
    }
    .contact-inner{
        flex-direction: column;
    }

    .map iframe{
        margin-top: 20px;
    }
/* Clock Code End */
}
@media (max-width:760px) {
    /* Clock Code Start */

    .clock{
        width: 500px;
        height: 500px;
    }
    .hour-i{
        height: 160px;
    }
    .min-i{
        height: 180px;
    }
    .sec-i{
        height: 220px;
    }
/* Clock Code End */
}
@media (max-width:700px) {
    .header-inner{
        position: relative;
    }
    .header-inner .logo{
        flex-basis: 50px;
    }
    .header-inner .logo a img{
        max-width: 100%;
    }
    
    .menu1{
        display: none;
    }

    .menu2{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
    }
    .navOpen{
        position: absolute;
        top: 30px;
        left: 150px;
        color: var(--textColor);
        font-size: 30px;
        z-index: 999;
        cursor: pointer;
    }
    .navClose{
        position: absolute;
        top: 30px;
        left: 152px;
        color: var(--textColor);
        font-size: 30px;
        cursor: pointer;
        z-index: 999;
        display: none;
    }
    #navMenu{
        width: 100%;
        height: 100%;
        background: #000;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        transform: translateX(-200px);    
    }
    #navMenu a{
        display: inline-block;
        color: var(--textColor);
        padding: 10px 20px;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.4s;
    }
    #navMenu a:hover{
        color: var(--textHoverColor);
    }
    #navMenu .navLogo{
        margin: 0 auto;
        width: 180px;
        height: 180px;
        background: var(--textColor);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navMenu .navLogo img{
        width: 120px;
        height: 120px;
        box-shadow: 0 0 20px var(--bgColor);
    }

    .about-inner{
        flex-direction: column;
    }
    .about-img img{
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
} 
@media (max-width:660px) {

    .clock{
        width: 450px;
        height: 450px;
    }

}
@media (max-width:580px) {
 
    .clock{
        width: 400px;
        height: 400px;
    }
    .hour-i{
        height: 130px;
    }
    .min-i{
        height: 150px;
    }
    .sec-i{
        height: 180px;
    }
}
@media (max-width:510px) {
    /* Clock Code Start */

    .clock{
        width: 370px;
        height: 370px;
    }

    .clock span b{
        font-size: 20px;
    }
    .clock::before{
        content: '';
        width: 150px;
        height: 150px;
    }
    .main-img img{
        width: 150px;
        height: 150px;
    }
/* Clock Code End */
}

@media (max-width:470px) {

    .clock{
        width: 350px;
        height: 350px;
    }
    .hour-i{
        height: 120px;
    }
    .min-i{
        height: 130px;
    }
    .sec-i{
        height: 165px;
    }
}
@media (max-width:450px) {

    .clock{
        width: 300px;
        height: 300px;
    }
    .hour-i{
        height: 100px;
    }
    .min-i{
        height: 120px;
    }
    .sec-i{
        height: 145px;
    }
}
